$main-width: 1200px;
$text-color-light: #ffffff;
$text-color-dark: #333333;
$text-color-hover: #fce38a;
$icon-color: #f38181;
$services-color: #95e1d3;
$position-color: #bfbfbf;
$footer-border-color: #e5e5e5;
$button-height: 40px;