
$header-navigation: #373c3f;
$main-font-size: 14px;
$header-menu: #202529;
$section-1: #18b3c6;
$section-2-primary: #27212c;
$section-2-secondary: #bc3183;
$section-3__1-bg: #5b0fa1;
$footer-bg: #ebebeb;
$primary-text: #ffffff;
$secondary-text: #515151;
$nav-icon: #ffffff;
$arrow-color: #ffffff;
$footer-title: #088ca5;
$section-2-arrow-width-sm: 9px;
$section-2-arrow-height-sm: 13px;
$section-1-arrow-width-sm: 7px;
$section-1-arrow-height-sm: 10px;
$section-3-arrow-width-sm: 19px;
$section-3-arrow-height-sm: 28px;
$section-2-arrow-width-m: 17px;
$section-2-arrow-height-m: 26px;
$section-1-arrow-width-m: 11px;
$section-1-arrow-height-m: 18px;
$section-3-arrow-width-m: 34px;
$section-3-arrow-height-m: 56px;
$section-2-arrow-width-l: 21px;
$section-2-arrow-height-l: 35px;
$section-1-arrow-width-l: 15px;
$section-1-arrow-height-l: 27px;
$section-3-arrow-width-l: 18px;
$section-3-arrow-height-l: 29px;

