$primary-font-color: #212121;
$secondary-font-color: #8f9090;
$sidebar-navigation-color: #606161;
$third-font-color: #ffffff;
$notification-color: #f50057;
$notification-border-color: #f7c6da;
$button-color: #1de8b5;
$sidebar-bg-color: #f9fbfc;
$main-bg-color: #f3f7f9;
$game-card-1-color: #03a9f4;
$game-card-2-color: #7d4eff;
$game-card-3-color: #3c59fa;
$header-height: 63px;
$header-bg-color: #ffffff;
$gamecard-statistic-color: #1a495c;
