.footer__subscribe-btn {
  height: $button-height;
  width: 150px;
  background-color: $services-color;
  border: none;
  color: $text-color-light;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}
