@font-face {
    font-family: 'open sans';
    src: url('/fonts/opensans.ttf') format('truetype'),
    url('/fonts/opensans.woff') format('woff'),
    url('/fonts/opensans.woff2') format('woff2'),
    url('/fonts/opensansbold.woff') format('woff'),
    url('/fonts/opensanssemibold.woff2') format('woff2');
    font-weight: normal, bold;
    font-style: normal;
}