.footer {
  border-top: solid 1px $footer-border-color;
  margin-bottom: 11px;
  &__copyright {
    font-weight: 500;
  }
  &__copyrighter-link {
    text-decoration: none;
    color: $icon-color;
  }
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
  }
  &__subscribe-form input {
    height: $button-height;
    border: 1px solid $footer-border-color;
    outline: none;
    padding-left: 12px;
    border-right: none;
    &::placeholder {
      color: $footer-border-color;

      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      font-style: italic;
    }
  }
  &__subscribe-form {
    display: flex;
  }
}
