.tablet {
    position: relative;
    border-radius: 5px;
}
      

.tablet-screen-wrapper {
    width: 324px;
    height: 440px;
    background-color: #2a2b2a;
    display: inline-block;
    position: absolute;
    top: 45px;
    left: 45px;
}