$hexacolor: #2c3e50;
$main-width: 1500px;
$secondary-width: 62.666%;
$prime-text-color: #ffffff;
$sexondary-text-color: #34495e;
$underline-color: #1abc9c;
$button-green: #1abc9c;
$button-blue: #3498db;
$advantages-bg: #f6f6f6;
$footer-bg-dark: #2c3e50;
$footer-span: #c9ced4;
$form-text: #abb3bc;