.section-title__overtitle {
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 9px 0
}

.section-title__title {
margin: 0;
font-size: 18px;
}

.section-title-container {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}